@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Solway:wght@700&display=swap');


html {
    background: #f2f2f2;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica';
    text-align: center;
}
.title {
    padding-top: 2%;
    color: slateblue;
    font-family: 'Righteous', cursive;
}
.author {
    color: steelblue;
}
.mapContain {
    padding: 2%;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}