
html {
    background: white;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica';
    text-align: center;
}
.title {
    padding-top: 2%;
    color: black;
    font-size: 4rem;
    font-family: 'Righteous', cursive;
}
.subtitle {
    color: grey;
    font-weight: lighter;
}
.author {
    color: steelblue;
}
.world-map {
    width: 100%;
}